

p {
    color: brown;
    font-size: 20px;
    font-family: "veranda", "Arial", "Sans-serif";
    margin: 20px;
    text-align: center;
 }
 p1 {
    color: brown;
    font-size: 30px;
    font-family: "veranda", "Arial", "Sans-serif";
    margin: 20px;
    text-align: center;
 }
 .webclasspic {
    width: 200px;
     
 }