* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}
 h1 {
   color: blue;
   font-size: 70px;
   margin: 0px;
   text-align: center;
}

.img-carey {
   width: 300px;

}
     
